.footer__column-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:hover {
  color: #ddd;
}
