.feynman__link {
  position: absolute;
  top: 50%;
  right: 40px;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.feynman__link:hover {
  opacity: 0.7;
}

.feynman__link::after {
  transition: left 0.3s ease;
  position: relative;
  left: 0;
  content: ' →';
}

.feynman__link:hover::after {
  left: 0.3em;
}
