.feynman {
  position: relative;
  padding-top: 100px;
  height: 890px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-image: url('./feynman.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
}
