/*** -reset- ***/
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}


/*** -blocks- ***/


/* Page */

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}


/* Header */

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.header__title {
  position: relative;
  margin: auto auto auto 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 20;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 20;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 680px;
  object-fit: contain;
  object-position: right bottom;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 5;
}


/* Logo */

.logo {
  display: block;
  width: 183px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  background-image: url('../images/logo_place_header.svg');
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
}


/* Link more */

.linkmore {
  color: #2f80ed;
  text-decoration: none;
}

.linkmore:hover {
  color: #0f60cd; /* так, для красоты */
}

.linkmore::after {
  content: ' →';
}


/* Description */

.description {
  padding-top: 100px;
  display: flex;
}


/* Two columns */

.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.two-columns__brief {
  flex-basis: 175px;
}

.two-columns__title {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  flex-basis: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* Вроде не нарушает БЭМ, да и красивый способ задать отступы без :first-child / :last-of-type */
.two-columns__paragraph ~ .two-columns__paragraph {
  margin-top: 30px;
}


/* Digits */

.digits {
  padding: 100px 0;
}


/* Section title */

.section-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 10;
}

.section-title_theme_dark {
  color: #fff;
}


/* Section subtitle */

.section-subtitle {
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  position: relative;
  z-index: 10;
}

.section-subtitle_theme_dark {
  color: #fff;
}


/* Table */

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_theme_dark {
  color: #fff;
}

/* Feynman */

.feynman {
  position: relative;
  padding-top: 100px;
  height: 890px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  width: max-content; /* в ie 11 не поддерживается, но вроде ничего запрещенного */
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  display: block;
  position: absolute;
  top: 50%;
  right: 40px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/* Kaufman */

.kaufman {
  position: relative;
  padding: 90px 0;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__table {
  position: relative;
  z-index: 10;
}

.kaufman__trangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  background: url('../images/kaufman-triangle.svg') center no-repeat;
  background-size: contain;
  z-index: 0;
}

/* Footer */

.footer {
  min-height: 350px;
  box-sizing: border-box;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
  margin: 0 auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.footer__column-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:hover {
  color: #ddd;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__social-icon_icon_fb {
  background-image: url('../images/facebook_color_white.svg');
}

.footer__social-icon_icon_vk {
  background-image: url('../images/vk_color_white.svg');
}

.footer__social-icon_icon_instagram {
  background-image: url('../images/instagram_color_white.svg');
}
