/* -reset- */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* Page */

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}


/* Header */

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.header__title {
  position: relative;
  margin: auto auto auto 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 20;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 20;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  text-decoration: underline;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 680px;
  object-fit: contain;
  object-position: right bottom;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 5;
}


/* Logo */

.logo {
  display: block;
  width: 183px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.logo_image_black {
  background-image: url(../images/logo_place_header.svg);
}


/* Description */

.description {
  padding-top: 100px;
  display: flex;
}


/* Two columns */

.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.two-columns__brief {
  flex-basis: 175px;
}

.two-columns__title {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  flex-basis: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* Вроде не нарушает БЭМ, да и красивый способ задать отступы без :first-child / :last-of-type */
.two-columns__paragraph ~ .two-columns__paragraph {
  margin-top: 30px;
}


/* Digits */

.digits {
  padding: 100px 0;
}

/* Section title */

.section-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

/* Section subtitle */

.section-subtitle {
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* Table */

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.digits__table {
  padding-top: 60px;;
}

.table__cell {
  flex: 0 0 250px;
}

/* todo найти способ получше */
.table__cell:nth-child(n+5) {
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

